﻿
@{
    ViewBag.Title = "Movies";
}

<section id="trend" class="p_3">
    <div class="container-xl">
        <div class="row trend_2">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/5.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">The Fifth Day</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/6.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Animation / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Black & White</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/7.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Thriller / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Scariest Game</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/8.png" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Romance / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">New Day Dreams</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row trend_2 mt-4">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/37.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">The Fifth Day</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/38.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Animation / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Black & White</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/39.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Thriller / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Scariest Game</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/40.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Romance / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">New Day Dreams</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row trend_2 mt-4">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/41.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">The Fifth Day</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/42.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Animation / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Black &amp; White</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/43.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Thriller / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">Scariest Game</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/44.jpg" class="w-100" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Romance / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="@Url.Action("MovieDetails","Home")">New Day Dreams</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("MovieDetails","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages mt-4 row text-center">
            <div class="col-md-12">
                <ul class="mb-0">
                    <li><a href="@Url.Action("MovieDetails","Home")"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a class="act" href="@Url.Action("MovieDetails","Home")">1</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")">2</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")">3</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")">4</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")">5</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")">6</a></li>
                    <li><a href="@Url.Action("MovieDetails","Home")"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
