﻿﻿@{
    ViewBag.Title = "BlogDetails";
}

<section id="blog" class="p_3">
    <div class="container-xl">
        <div class="blog_1 row">
            <div class="col-md-8">
                <div class="blog_1dt">
                    <div class="blog_1dt1">
                        <div class="blog_1l1">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="~/Content/img/14.jpg" height="450" class="w-100" alt="img25"></a>
                                </figure>
                            </div>
                            <h3 class="mt-3"><a href="#">See Meila enjoyable capturing moment</a></h3>
                            <h6 class="text-muted mt-3">
                                <i class="fa fa-user col_oran me-1"></i> By Admin
                                <i class="fa fa-comments col_oran me-1 ms-3"></i> 3 Comments  <i class="fa fa-calendar col_oran me-1 ms-3"></i> May 01, 2025  <i class="fa fa-folder-o col_oran me-1 ms-3"></i> Fantasy
                            </h6>
                            <p class="mt-3">Marvel Studios' Thunderbolts premiered in India on May 1, 2025, a day ahead of its global release, and has since garnered significant attention for its distinctive approach within the Marvel Cinematic Universe (MCU).</p>

                        </div>
                    </div>
                    <div class="blog_1dt2">
                        <p class="fst-italic fs-5 fw-bold">🎬 Overview </p>
                        <p>Directed by Jake Schreier, Thunderbolts assembles a team of antiheroes and reformed villains—Yelena Belova (Florence Pugh), Bucky Barnes (Sebastian Stan), Red Guardian (David Harbour), Ghost (Hannah John-Kamen), U.S. Agent (Wyatt Russell), Taskmaster (Olga Kurylenko), and newcomer Bob/Sentry (Lewis Pullman)—who are coerced into a perilous mission orchestrated by the manipulative Valentina Allegra de Fontaine (Julia Louis-Dreyfus). The narrative delves into themes of redemption, trauma, and the complexities of heroism.</p>
                        <h4>🌟 Critical Reception </h4>
                        <p class="mt-3"> The film has been lauded for its character-driven storytelling and emotional depth, marking a departure from the typical MCU formula. Critics have praised Florence Pugh's compelling portrayal of Yelena and Lewis Pullman's nuanced performance as Bob/Sentry. The movie holds an 88% rating on Rotten Tomatoes, reflecting its positive reception. </p>
                        <ul class="mt-3 mb-4">
                            <li><i class="fa fa-check-circle me-1 align-middle col_oran"></i> 💰 Box Office Performance</li>
                            <li class="mt-2"><i class="fa fa-check-circle me-1 align-middle col_oran"></i> 🧭 Significance in the MCU</li>
                            <li class="mt-2"><i class="fa fa-check-circle me-1 align-middle col_oran"></i> 🎥 Viewing Options</li>
                            <li class="mt-2"><i class="fa fa-check-circle me-1 align-middle col_oran"></i> Measure How Well Their Staff Converts Leads Appointments And Sales</li>
                        </ul>
                        <div class="blog_1dt2i row">
                            <div class="col-md-6">
                                <div class="blog_1dt2il">
                                    <h5 class="fw-bold mb-3">Related Tags</h5>
                                    <ul class="mb-0 tags tags1">
                                        <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Gallery</a></li>
                                        <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Movies</a></li>
                                        <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Portfolio</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog_1dt2ir text-end">
                                    <h5 class="fw-bold mb-3">Share</h5>
                                    <ul class="mb-0">
                                        <li class="d-inline-block fs-5 me-3"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="d-inline-block fs-5 me-3"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="d-inline-block fs-5 me-3"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="d-inline-block fs-5 me-3"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="d-inline-block fs-5"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1dt3 mt-3">
                        <h3 class="mb-3">Related Blog</h3>
                        <div class="row blog_h1">
                            <div class="col-md-6">
                                <div class="blog_h1m">
                                    <div class="blog_h1m1 position-relative">
                                        <div class="blog_h1m1">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz mb-0">
                                                    <a href="#"><img src="~/Content/img/Wednesday.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="blog_h1m2 position-absolute w-100">
                                            <h2 class="mb-0 bg_oran d-inline-block p-3 text-white text-center">
                                                06<br>
                                                <span class="fs-6">August</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="blog_h1m2 shadow_box bg-white p-4">
                                        <h4><a href="#">Upcoming New Season 2 Just Flow in !</a></h4>
                                        <p class="mt-3">Jenna Ortega, reprising her role as Wednesday Addams and now also serving as a producer, has emphasized a shift towards a more horror-oriented tone, moving away from the romantic subplot of the first season.</p>
                                        <h5 class="fs-6"><a href="#">Read More</a></h5>
                                        <hr>
                                        <h6 class="mt-4 mb-0 font_14">
                                            <i class="fa fa-user col_oran me-1"></i>  <a href="#">Admin</a>
                                            <span class="pull-right"><i class="fa fa-comment-o col_oran me-1"></i> <a href="#">0 Comments</a></span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog_h1m">
                                    <div class="blog_h1m1 position-relative">
                                        <div class="blog_h1m1">
                                            <div class="grid clearfix">
                                                <figure class="effect-jazz mb-0">
                                                    <a href="#"><img src="~/Content/img/25.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="img25"></a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="blog_h1m2 position-absolute w-100">
                                            <h2 class="mb-0 bg_oran d-inline-block p-3 text-white text-center">
                                                19<br>
                                                <span class="fs-6">JUNE</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="blog_h1m2 shadow_box bg-white p-4">
                                        <h4><a href="#">The Foreign Oscar Nominations 2024</a></h4>
                                        <p class="mt-3">Jenna Ortega, reprising her role as Wednesday Addams and now also serving as a producer, has emphasized a shift towards a more horror-oriented tone, moving away from the romantic subplot of the first season.</p>
                                        <h5 class="fs-6"><a href="#">Read More</a></h5>
                                        <hr>
                                        <h6 class="mt-4 mb-0 font_14">
                                            <i class="fa fa-user col_oran me-1"></i>  <a href="#">Admin</a>
                                            <span class="pull-right"><i class="fa fa-comment-o col_oran me-1"></i> <a href="#">0 Comments</a></span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1dt4 mt-4">
                        <h3 class="mb-3">2 Comments</h3>
                        <div class="blog_1dt4i row">
                            <div class="col-md-2 col-2">
                                <div class="blog_1dt4il">
                                    <img src="~/Content/img/34.jpg" class="w-100 rounded-circle" alt="abc">
                                </div>
                            </div>
                            <div class="col-md-10 col-10">
                                <div class="blog_1dt4ir">
                                    <h5>Lorem Porta</h5>
                                    <h6 class="col_oran font_14">19TH March 2021</h6>
                                    <p class="mt-3">A visually stunning and intellectually profound biopic. Christopher Nolan masterfully portrays the moral complexity of J. Robert Oppenheimer's role in developing the atomic bomb. Cillian Murphy delivers a career-defining performance.</p>
                                    <h6 class="mb-0"><a class="col_oran" href="#"><i class="fa fa-reply me-1"></i> Reply</a></h6>
                                </div>
                            </div>
                        </div><hr>
                        <div class="blog_1dt4i row">
                            <div class="col-md-2 col-2">
                                <div class="blog_1dt4il">
                                    <img src="~/Content/img/36.jpg" class="w-100 rounded-circle" alt="abc">
                                </div>
                            </div>
                            <div class="col-md-10 col-10">
                                <div class="blog_1dt4ir">
                                    <h5>Ipsum Nulla</h5>
                                    <h6 class="col_oran font_14">17TH March 2021</h6>
                                    <p class="mt-3">A nostalgic, action-packed thrill ride that unites generations of Spider-Man fans. It blends humor, heart, and heroism with emotional stakes and surprise appearances that deliver pure fan service.</p>
                                    <h6 class="mb-0"><a class="col_oran" href="#"><i class="fa fa-reply me-1"></i> Reply</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1dt5 mt-4">
                        <h3>Leave A Reply</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDefault">
                                Save my name, email, and website in this browser for the next time I comment.
                            </label>
                        </div>
                        <div class="blog_1dt5i row mt-3">
                            <div class="col-md-4">
                                <div class="blog_1dt5il">
                                    <input class="form-control" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog_1dt5il">
                                    <input class="form-control" placeholder="Email" type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog_1dt5il">
                                    <input class="form-control" placeholder="Website" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="blog_1dt5i row mt-3">
                            <div class="col-md-12">
                                <div class="blog_1dt5il">
                                    <textarea placeholder="Comment" class="form-control form_text"></textarea>
                                    <h6 class="mb-0 mt-4 center_sm"><a class="button_2" href="#">Post Comment</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog_1r">
                    <div class="blog_1r1">
                        <div class="input-group bg_oran">
                            <input type="text" class="form-control bg-transparent rounded-0 border-0 text-white fs-5" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary bg-transparent rounded-0 border-0 text-white p-3 fs-5" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="blog_1r2 mt-4 bg-light p-4">
                        <h4 class="mb-4">Latest Posts</h4>
                        <div class="row blog_1r2i">
                            <div class="col-md-4 col-4 pe-0">
                                <div class="blog_1r2il">
                                    <figure class="effect-jazz mb-0">
                                        <a href="@Url.Action("BlogDetails","Home")"><img src="~/Content/img/12.jpg" class="w-100" alt="abc"></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="blog_1r2ir">
                                    <h6 class="fw-bold"><a href="#">See Meila enjoyable capturing moment</a></h6>
                                    <h6 class="text-muted mb-0 font_14"><i class="fa fa-comments col_oran me-1"></i> 0 Comments</h6>
                                </div>
                            </div>
                        </div><hr>
                        <div class="row blog_1r2i">
                            <div class="col-md-4 col-4 pe-0">
                                <div class="blog_1r2il">
                                    <figure class="effect-jazz mb-0">
                                        <a href="@Url.Action("BlogDetails","Home")"><img src="~/Content/img/13.jpg" class="w-100" alt="abc"></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="blog_1r2ir">
                                    <h6 class="fw-bold"><a href="#">The Foreign Oscar Nominations 2024</a></h6>
                                    <h6 class="text-muted mb-0 font_14"><i class="fa fa-comments col_oran me-1"></i> 0 Comments</h6>
                                </div>
                            </div>
                        </div><hr>
                        <div class="row blog_1r2i">
                            <div class="col-md-4 col-4 pe-0">
                                <div class="blog_1r2il">
                                    <figure class="effect-jazz mb-0">
                                        <a href="@Url.Action("BlogDetails","Home")"><img src="~/Content/img/oppenheimer.jpeg" class="w-100" alt="abc"></a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="blog_1r2ir">
                                    <h6 class="fw-bold"><a href="#">Upcoming New Season 5 Just Flow in !</a></h6>
                                    <h6 class="text-muted mb-0 font_14"><i class="fa fa-comments col_oran me-1"></i> 0 Comments</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1r2 mt-4 bg-light p-4">
                        <h4 class="mb-4">Categories</h4>
                        <h6 class="mb-0"><a href="@Url.Action("BlogDetails","Home")">Fantasy <span class="pull-right">(6)</span></a></h6><hr>
                        <h6 class="mb-0"><a href="@Url.Action("BlogDetails","Home")">Film <span class="pull-right">(4)</span></a></h6><hr>
                        <h6 class="mb-0"><a href="@Url.Action("BlogDetails","Home")">Movie <span class="pull-right">(5)</span></a></h6><hr>
                        <h6 class="mb-0"><a href="@Url.Action("BlogDetails","Home")">TV Dramas <span class="pull-right">(8)</span></a></h6><hr>
                        <h6 class="mb-0"><a href="@Url.Action("BlogDetails","Home")">Uncategorized <span class="pull-right">(7)</span></a></h6>
                    </div>
                    <div class="blog_1r2 mt-4 bg-light p-4">
                        <h4 class="mb-4">Tags</h4>
                        <ul class="mb-0 tags">
                            <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Adventure</a></li>
                            <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Film</a></li>
                            <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">Movie</a></li>
                            <li class="d-inline-block"><a class="d-block" href="@Url.Action("BlogDetails","Home")">TV Shows</a></li>
                        </ul>
                    </div>
                    <div class="blog_1r2 mt-4 bg-light p-4 center_sm">
                        <h4 class="mb-4">Newsletters</h4>
                        <p>Sign Up For Our Newsletter!</p>
                        <input class="form-control bg-transparent rounded-0" placeholder="Subscribe" type="text">
                        <h6 class="mt-4 mb-0"><a class="button_2" href="@Url.Action("BlogDetails","Home")">Subscribe <i class="fa fa-check-circle ms-1"></i> </a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>