@model MovieTicketBooking.Models.UserModel﻿﻿


@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section id="login" class="p_3">
        <div class="container-xl">
            <div class="row login_1">
                <div class="col-md-12">
                    <div class="login_1m p-5 px-4 w-50 mx-auto bg-light">
                        <h6 class="mb-3 fw-bold">Username</h6>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username)

                        <h6 class="mb-3 fw-bold mt-4">Email</h6>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email)

                        <h6 class="mb-3 fw-bold mt-4">Password</h6>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)

                        <div class="form-check mt-3">
                            <input type="checkbox" class="form-check-input" id="customCheck1" required>
                            <label class="form-check-label" for="customCheck1">Agree to our <a class="fw-bold" href="#">terms & conditions</a></label>
                        </div>

                        <h6 class="mt-3 center_sm">
                            <button type="submit" class="button d-block text-center w-100">SIGN UP</button>
                        </h6>

                        <p class="mt-3 mb-0 text-center">
                            Already have an account?
                            <a class="fw-bold col_oran" href="@Url.Action("Login","Home")">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

