﻿﻿@{
    ViewBag.Title = "Ticket";
}

<section id="price" class="p_3">
    <div class="container-xl">
        <div class="price_1 row">
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">Regular</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹199<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-black p-4">
                        <h3 class="text-white">Premium</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-dark pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹299<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-black">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">VIP</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹399<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="price_1 row mt-4">
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">Trending</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹249<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-black p-4">
                        <h3 class="text-white">Popular</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-dark pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹299<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-black">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_1i1">
                    <div class="price_1i1i bg-dark p-4">
                        <h3 class="text-white">New</h3>
                        <p class="mb-0 text-white-50">🎬 Book Movie Tickets Online - Fast & Easy!</p>
                    </div>
                    <div class="price_1i1i1 p-4 bg-black pt-3 pb-3">
                        <h1 class="font_60 text-white mb-0">₹349<span class="fs-6">/Seat</span></h1>
                    </div>
                    <div class="price_1i1i2 p-4 bg-dark">
                        <ul class="mb-0 text-white-50">
                            <li>1 Regular Popcorn</li>
                            <li class="mt-2">Standard seat</li>
                            <li class="mt-2">Free Refill Coupon</li>
                            <li class="mt-2">Mobile Ticket Access</li>
                        </ul>
                        <h6 class="mb-0 mt-4"><a class="button text-center d-block" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="trend_o" class="p_3 px_4  bg-light">
    <div class="container-fluid">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3">New Upcoming Movies</h6>
                <h1 class="mb-0 font_50">Movies Coming Soon</h1>
            </div>
        </div>
        <div class="row trend_2">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/43.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">CLEANER</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/28.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">G &amp; 2 &amp; 0</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/52.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Drama / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Kadhalikka Neramillai (காதலிக்க நேரமில்)</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="~/Content/img/53.jpg" class="w-100" style="height: 400px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Drama / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Sundance</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Booking","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row trend_o1 mt-4 w-75 mx-auto">
            <div class="col-md-12">
                <div class="trend_o1i1 bg_backn pt-5 pb-5 px-4">
                    <div class="trend_o1i1i row">
                        <div class="col-md-8">
                            <div class="trend_o1i1il pt-4">
                                <h2 class="mb-0 text-white">
                                    40% Discount for Students
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="trend_o1i1ir text-end">
                                <h6 class="mb-0 mt-4"><a class="button_3" href="@Url.Action("Booking","Home")">Book Your Ticket</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

