
@{
    ViewBag.Title = "UpcomingMovies";
}

<section id="trend_o" class="p_3 px_4">
    <div class="container-fluid">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3"><a class="navbar-brand  p-0 fw-bold " href="@Url.Action("UpcomingMovies","Home")"><i class="fa fa-modx col_oran"></i>New UpComing Movies  </a></h6>
                <h1 class="mb-0 font_50">Movies Coming Soon</h1>
            </div>
        </div>
        <div class="row trend_2">
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/21.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">The WAR II</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/22.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Romance / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Param &amp; Sundari</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/23.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">
                            Comedy/Drama / 190 Mins
                        </h6>
                        <h5><a class="text-white a_tag" href="#">Jolly LLB 3</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/24.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">
                            Comedy/Drama / 150 Mins
                        </h6>
                        <h5><a class="text-white a_tag" href="#">Sitaare Zameen Par </a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/3.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action/Sci-Fic / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">ThunderBolts*</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/2.jpg")" class="w-100" style="height: 350px; object-fit: cover;" alt="abc">
                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Mission: Impossible-The Final Reckoning</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row trend_o1 mt-4 w-75 mx-auto">
            <div class="col-md-12">
                <div class="trend_o1i1 bg_backn pt-5 pb-5 px-4">
                    <div class="trend_o1i1i row">
                        <div class="col-md-8">
                            <div class="trend_o1i1il pt-4">
                                <h2 class="mb-0 text-white">
                                    40% Discount for Students
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="trend_o1i1ir text-end">
                                <h6 class="mb-0 mt-4"><a class="button_3" href="@Url.Action("Ticket","Home")">Book Your Ticket</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="trend" class="p_3 pt-0">
    <div class="container-xl">
        <div class="row trend_1 text-center mb-4">
            <div class="col-md-12">
                <span class="fa fa-film col_oran"></span>
                <h6 class="text-muted mt-3"><a class="navbar-brand  p-0 fw-bold" href="@Url.Action("UpcomingMovies","Home")"><i class="fa fa-modx col_oran"></i>Watch New Movies  </a></h6>
                <h1 class="mb-0 font_50">Movies Now Playing</h1>
            </div>
        </div>
        <div class="row trend_2">
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/4.jpg")" class="w-100" style="height: 300px; object-fit: cover;" alt="abc">

                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 180 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">The housefull 5</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/5.jpg")" class="w-100" style="height: 300px; object-fit: cover;" alt="abc">

                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Thiller / 160 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Thug Life</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/6.jpg")" class="w-100" style="height: 300px; object-fit: cover;" alt="abc">

                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Comedy / 190 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Bhool Chuk Maaf</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="trend_2i position-relative">
                    <div class="trend_2i1">
                        <img src="@Url.Content("~/Content/img/7.jpg")" class="w-100" style="height: 300px; object-fit: cover;" alt="abc">

                    </div>
                    <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                        <h6 class="font_14 text-light">Action / 150 Mins </h6>
                        <h5><a class="text-white a_tag" href="#">Karate kid Legends</a></h5>
                        <h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="@Url.Action("Ticket","Home")">Get Ticket</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>










